<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQL95Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://ec2-54-195-241-106.eu-west-1.compute.amazonaws.com:5432/d9c0krjrij62ib
        </property>
        <property name="hibernate.connection.username">
            puqzkfywevudxy
        </property>
        <property name="hibernate.connection.password">
            4c2692dc9358cd4a681046a1b7b28f48a8ef64b60ce6e617faa5d17a344758b3
        </property>

        <!-- List of XML mapping files -->
        <mapping class="model.Manufacturer"/>
        <mapping class="model.Product"/>
    </session-factory>
</hibernate-configuration>
